# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environnement
.env

# Ignore les fichiers de configuration sensibles
config/dbConfig.js  # Ignorer le fichier de configuration de la base de données

# Build
build/
dist/

# Dossier de cache
.cache/

# Fichiers de configuration de l'IDE
.idea/
.vscode/

# Fichiers de configuration de macOS
.DS_Store

# Fichiers de configuration de Windows
Thumbs.db
